<div>
	<p>
		Получена е нова оферта за доставка {0} в размер на {1} {2}. Свържете се с администратор ако офертата Ви устройва.
	</p>
	<p>
		A new offer for delivery {0} in the amount of {2} {1} has been recieved. Contact an administrator if the offer suits you.
	</p>
	<footer>
		@await Html.PartialAsync("_EmailFooterPartial")
	</footer>
</div>