<div>
	<p>
		Получена е нова оферта за доставка {0}. Посетете https://{1}/Checkout?bidId={2} за да направите плащане.
	</p>
	<p>
		A new offer for delivery {0} has been recieved. Visit https://{1}/Checkout?bidId={2} to make a payment.
	</p>
	<footer>
		@await Html.PartialAsync("_EmailFooterPartial")
	</footer>
</div>