<p>
	Моля, нулирайте паролата си, като кликнете тук: <a href='{0}'>линк</a>
</p>
<p>
	Please reset your password by clicking here: <a href='{0}'>link</a>
</p>
<footer>
	@await Html.PartialAsync("_EmailFooterPartial")
</footer>