@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = "Prices";
}

<p>
	@Localizer["FirstSentence"]
</p>
<p>
	@Localizer["SecondSentence"]
</p>
<p>
	@Localizer["ThirdSentence"]
</p>
<p>
	@Localizer["FourthSentence"]
</p>
